.md-autocomplete-suggestions-container .md-autocomplete-suggestions li {
  line-height: inherit;
  height: auto;
}

ul{
  list-style-type:none;
  }

.bar{
  height: 10;
  float: left;
  margin: 1 1 1 1;
  border: 0.1;
  border-color: black;
  border-style: solid; 
  border-radius: 5px;
}

body {
  background-image: url("static/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  font-family: BankGthd;
  src: url(static\BankGthd.ttf);
}