.md-autocomplete-suggestions-container .md-autocomplete-suggestions li {
  line-height: inherit;
  height: auto;
}

ul{
  list-style-type:none;
  }

.bar{
  height: 10;
  float: left;
  margin: 1 1 1 1;
  border-width: 0.5;
  border-color: white;
  border-style: solid; 
  border-radius: 5px;
}

body {
  background-image: url("static/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  font-family: "Lato" !important; 
  color: white !important;
	text-shadow: 2px 2px black;
}

.left-element {
    display: inline-block;
    float: left;
	  z-index: 3;
}

.right-element {
    display: inline-block;
    float: right;
	z-index: 2;
}
md-card{
	background-image: url("static/cardtest-parte4.png");
	background-size:100% 100%;
}
md-card-content{
	margin-top:10px;
}