<html lang="en" ng-app="AzureBuilder" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link rel="stylesheet" href="css.css">
</head>
<body ng-controller="AzureCtrl"  ng-cloak>
  <!--
    Your HTML content here
  -->
  <div layout="row" layout-align="center center" layout-xs="column">
      <md-card class="custom" flex-order>
          <barraTop>
              <img src="static/cardtest-parte2.png" style="width:100%;height:42px;">
                 <div style="margin-top:-42px;position: relative;">
                <img src="static/cardtest-parte1.png" style="max-width:236px;max-height:42px;" class="left-element">
                <img src="static/cardtest-parte3.png" style="max-width:236px;max-height:42px;" class="right-element">
                 </div>
          </barraTop>
        <md-card-content class="content" layout="column" layout-align="center center">
          <h2 md-colors="{'color':'grey-A100'}">Ship and Equips</h2>
          <md-autocomplete placeholder="ShipGirl Name" style="width: 300;" md-no-cache="true" md-selected-item="selectedShip" md-items="ship in query(searchText)" md-search-text="searchText" md-item-text="ship.names.en">
            <md-item-template layout-align="center center">
              <div md-colors="{'background':'grey-800'}" >
                <img ng-src="{{ship.icon}}" alt="ship.names.en" style="width: 100; height: auto;float: left;"/>
                <a md-colors="{'color':'grey-A100'}" style="font-size: 20;padding-left: 10">{{ship.names.en}}</a>
              </div>
            </md-item-template>
          </md-autocomplete>
          <div ng-show="selectedShip" layout="row" layout-align="center center" layout-xs="column">
              <md-card layout="column" layout-align="center center"  md-colors="{'background':'grey-800'}">
                <h5 ng-hide="selectedFirstEq" md-colors="{'color':'grey-A100'}">{{selectedShip.equipment[0].equipable}}</h5>
                <md-button ng-hide="selectedFirstEq" ng-click="showEquip(selectedShip.equipment[0].equipable,1)" md-colors="{'color':'grey-A100'}" style="font-size: 20px">+</md-button>
                <div layout="column" layout-align="center"  ng-show="selectedFirstEq" ng-click="showEquip(selectedShip.equipment[0].equipable,1)">
                  <a md-colors="{'color':'grey-A100'}">{{selectedFirstEq.name}}</a>
                  <br>
                  <img ng-src="{{selectedFirstEq.image}}" style="width: 100px;height:100px;"/>
                </div>
              </md-card>
              <md-card layout="column" layout-align="center center"  md-colors="{'background':'grey-800'}">
                  <h5 ng-hide="selectedSecondEq" md-colors="{'color':'grey-A100'}">{{selectedShip.equipment[1].equipable}}</h5>
                  <md-button ng-hide="selectedSecondEq" ng-click="showEquip(selectedShip.equipment[1].equipable,2)" md-colors="{'color':'grey-A100'}" style="font-size: 20px">+</md-button>
                  <div layout="column" layout-align="center" ng-show="selectedSecondEq" ng-click="showEquip(selectedShip.equipment[1].equipable,2)">
                      <a md-colors="{'color':'grey-A100'}">{{selectedSecondEq.name}}</a>
                      <br>
                      <img ng-src="{{selectedSecondEq.image}}" style="width: 100px;height:100px;"/>
                  </div>
              </md-card>
              <md-card layout="column" layout-align="center center"  md-colors="{'background':'grey-800'}">
                  <h5 ng-hide="selectedThirdEq" md-colors="{'color':'grey-A100'}">{{selectedShip.equipment[2].equipable}}</h5>
                  <md-button ng-hide="selectedThirdEq" ng-click="showEquip(selectedShip.equipment[2].equipable,3)" md-colors="{'color':'grey-A100'}" style="font-size: 20px">+</md-button>
                  <div layout="column" layout-align="center" ng-show="selectedThirdEq" ng-click="showEquip(selectedShip.equipment[2].equipable,3)">
                      <a md-colors="{'color':'grey-A100'}">{{selectedThirdEq.name}}</a>
                      <br>
                      <img ng-src="{{selectedThirdEq.image}}" style="width: 100px;height:100px;"/>
                  </div>
            </md-card>
              <md-card layout="column" layout-align="center center"  md-colors="{'background':'grey-800'}">
                  <h5 ng-hide="selectedFourthEq" md-colors="{'color':'grey-A100'}" ng-show="selectedShip">Auxiliary Equipment</h5>
                  <md-button ng-hide="selectedFourthEq" ng-click="showEquip('Auxiliary Equipment',4)" md-colors="{'color':'grey-A100'}" style="font-size: 20px">+</md-button>
                  <div layout="column" layout-align="center" ng-show="selectedFourthEq" ng-click="showEquip('Auxiliary Equipment',4)">
                      <a md-colors="{'color':'grey-A100'}">{{selectedFourthEq.name}}</a>
                      <br>
                      <img ng-src="{{selectedFourthEq.image}}" style="width: 100px;height:100px;"/>
                  </div>
            </md-card>
              <md-card layout="column" layout-align="center center"  md-colors="{'background':'grey-800'}">
                  <h5 ng-hide="selectedFifthEq" md-colors="{'color':'grey-A100'}" ng-show="selectedShip">Auxiliary Equipment</h5>
                  <md-button ng-hide="selectedFifthEq" ng-click="showEquip('Auxiliary Equipment',5)" md-colors="{'color':'grey-A100'}" style="font-size: 20px">+</md-button>
                  <div layout="column" layout-align="center" ng-show="selectedFifthEq" ng-click="showEquip('Auxiliary Equipment',5)">
                      <a md-colors="{'color':'grey-A100'}">{{selectedFifthEq.name}}</a>
                      <br>
                      <img ng-src="{{selectedFifthEq.image}}" style="width: 100px;height:100px;"/>
                  </div>
            </md-card>
          </div>  
        </md-card-content>
        <barraBottom style="margin-bottom: -4px;">
            <img src="static/cardtest-parte5.png" style="width:100%;height:4px;">
        </barraBottom>
        </md-card>
      <md-card class="custom" flex-order>
          <barraTop>
              <img src="static/cardtest-parte2.png" style="width:100%;height:42px;">
                 <div style="margin-top:-42px;position: relative;">
                <img src="static/cardtest-parte1.png" style="max-width:236px;max-height:42px;" class="left-element">
                <img src="static/cardtest-parte3.png" style="max-width:236px;max-height:42px;" class="right-element">
                 </div>
          </barraTop>
        <md-card-content >
          <br>
          <h2 md-colors="{'color':'grey-A100'}">Ship Stats</h2>
          <div ng-show="selectedShip" layout="row" layout-align="center center" layout-xs="column">
          <img ng-src="{{selectedShip.images[0].url}}" alt="ship.names.en" style="width: 250; height: 400;object-fit: contain"/>
          <div>
          <ul>
              <li md-colors="{'color':'grey-A100'}"><a md-colors="{'color':'yellow'}">Ship:</a> {{selectedShip.names.en}}</li>
              <li md-colors="{'color':'grey-A100'}"><a md-colors="{'color':'yellow'}">Class:</a> {{selectedShip.class}}</li>
              <li md-colors="{'color':'grey-A100'}"><a md-colors="{'color':'yellow'}">Armor:</a> {{selectedShip.max.armor}}</li>
          </ul>
          <table ng-show="selectedShip">
          <tr>
            <th md-colors="{'color':'yellow'}">Stats</th>
            <th md-colors="{'color':'yellow'}">Base</th>
            <th md-colors="{'color':'yellow'}">Equips</th>
            <th md-colors="{'color':'yellow'}">Total</th>
          </tr>
          <tr>
            <th>Health:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#5ec45e','width':((stats.health.base*100) / stats.health.total)}"><md-tooltip md-direction="top">Base Health: {{stats.health.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#07910e','width':((stats.health.equip*100) / stats.health.total)}"><md-tooltip md-direction="top">Itens Health: {{stats.health.equip}}</md-tooltip></div></th>
            <th>{{stats.health.total}}</th>
          </tr>
          <tr>
            <th>Reload:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#7faef9','width':((stats.reload.base*100) / stats.reload.total)}"><md-tooltip md-direction="top">Base Reload: {{stats.reload.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#688ec9','width':((stats.reload.equip*100) / stats.reload.total)}"><md-tooltip md-direction="top">Itens Reload: {{stats.reload.equip}}</md-tooltip></div></th>
            <th>{{stats.reload.total}}</th>
          </tr>
          <tr>
            <th>Firepower:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#c96868','width':((stats.firepower.base*100) / stats.firepower.total)}"><md-tooltip md-direction="top">Base firepower: {{stats.firepower.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#a55454','width':((stats.firepower.equip*100) / stats.firepower.total)}"><md-tooltip md-direction="top">Itens firepower: {{stats.firepower.equip}}</md-tooltip></div></th>
            <th>{{stats.firepower.total}}</th>
          </tr>
          <tr>
            <th>Torpedo:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#8f42f4','width':((stats.torpedo.base*100) / stats.torpedo.total)}"><md-tooltip md-direction="top">Base torpedo: {{stats.torpedo.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#7435c6','width':((stats.torpedo.equip*100) / stats.torpedo.total)}"><md-tooltip md-direction="top">Itens torpedo: {{stats.torpedo.equip}}</md-tooltip></div></th>
            <th>{{stats.torpedo.total}}</th>
          </tr>
          <tr>
            <th>Speed:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#e5df39','width':((stats.speed.base*100) / stats.speed.total)}"><md-tooltip md-direction="top">Base torpedo: {{stats.speed.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#c6c135','width':((stats.speed.equip*100) / stats.speed.total)}"><md-tooltip md-direction="top">Itens torpedo: {{stats.speed.equip}}</md-tooltip></div></th>
            <th>{{stats.speed.total}}</th>
          </tr>
          <tr>
            <th>Anti Air:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#ce4ae0','width':((stats.anti_air.base*100) / stats.anti_air.total)}"><md-tooltip md-direction="top">Base anti_air: {{stats.anti_air.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#9a30a8','width':((stats.anti_air.equip*100) / stats.anti_air.total)}"><md-tooltip md-direction="top">Itens anti_air: {{stats.anti_air.equip}}</md-tooltip></div></th>
            <th>{{stats.anti_air.total}}</th>
          </tr>
          <tr>
            <th>Air Power:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#d1d1d1','width':((stats.air_power.base*100) / stats.air_power.total)}"><md-tooltip md-direction="top">Base air_power: {{stats.air_power.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#8e8e8e','width':((stats.air_power.equip*100) / stats.air_power.total)}"><md-tooltip md-direction="top">Itens air_power: {{stats.air_power.equip}}</md-tooltip></div></th>
            <th>{{stats.air_power.total}}</th>
          </tr>
          <tr>
            <th>Oil Usage:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#8e7e63','width':((stats.oil_usage.base*100) / stats.oil_usage.total)}"><md-tooltip md-direction="top">Base oil_usage: {{stats.oil_usage.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#514127','width':((stats.oil_usage.equip*100) / stats.oil_usage.total)}"><md-tooltip md-direction="top">Itens oil_usage: {{stats.oil_usage.equip}}</md-tooltip></div></th>
            <th>{{stats.oil_usage.total}}</th>
          </tr>
          <tr>
            <th>Anti Sub:</th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#22d2d8','width':((stats.anti_sub.base*100) / stats.anti_sub.total)}"><md-tooltip md-direction="top">Base anti_sub: {{stats.anti_sub.base}}</md-tooltip></div></th>
            <th><div ng-show="selectedShip" class="bar" ng-style="{'background-color': '#18a1a5','width':((stats.anti_sub.equip*100) / stats.anti_sub.total)}"><md-tooltip md-direction="top">Itens anti_sub: {{stats.anti_sub.equip}}</md-tooltip></div></th>
            <th>{{stats.anti_sub.total}}</th>
          </tr>
          </table>
          <div>
            <div ng-repeat="skill in selectedShip.skills" > 
              <md-card>
                <md-card-content  md-colors="{'background':'grey-800'}">
                  <a md-colors="{'color':'grey-A100'}">Skill name: {{skill.name}}</a>
                  <br>
                  <a md-colors="{'color':'grey-A100'}">Skill type: {{skill.type}}</a>
                  <br>
                  <a md-colors="{'color':'grey-A100'}" style="font-size: 14px">Description: {{skill.description}}</a>
                </md-card-content>
              </md-card>
            </div>
          </div>
          </div>
        </div>
        </md-card-content>
        <barraBottom style="margin-bottom: -4px;">
            <img src="static/cardtest-parte5.png" style="width:100%;height:4px;">
        </barraBottom>
        </md-card>

    </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>


  <script src="js.js"></script>
  


  <!-- Equipament Dialog -->

  <div style="visibility: hidden">
      <div class="md-dialog-container" id="myStaticDialog">
        <md-dialog md-colors="{'background':'grey-900'}">
            <div layout="row" layout-wrap layout-align="center" style="width: 900px;height:1000px;">
              <md-card flex-order ng-show="EqType.type==equip.type" ng-repeat="equip in equipaments"  md-colors="{'background':'grey-800'}">
                <md-card-content layout="column" layout-align="center center" style="width: 200px;height:200px;">
                  <a md-colors="{'color':'grey-A100'}">{{equip.name}}</a>
                  <br>
                  <a md-colors="{'color':'grey-A100'}">{{equip.rarity}}</a>
                  <br>
                  <img ng-src="{{equip.image}}" style="width: 50px;height:50px;"/>
                  <md-button ng-click="SelectEquip(equip,EqType.index)" md-colors="{'color':'grey-A100'}" style="font-size: 20px">Select</md-button>
                </md-card-content>
              </md-card>
            </div>
          </md-dialog>
      </div>
    </div>

</body>
</html>

<!--
Copyright 2016-2019 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://material.angularjs.org/latest/license.
-->